@use 'breakpoints';
/* rem: PX divided by 16 */

.container {
  width: 100%;
  overflow-x: hidden;
}

.heading-text {
  font-family: 'GT America', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 1.5rem;
  margin-top: 3.5rem;
  text-align: start;

  @include breakpoints.desktop {
      margin-left: 6.75rem;
  }
}

.reset-button {
  width: 5.25rem;
  height: 1.875rem;
  background-color: #F4F3FB;
  color: #1A0DAB;
  border-radius: 0.125rem;
  border: none;
  cursor: pointer;
}

.text--modifiers {
  display: flex;
  padding-top: 1rem; 
  align-items: flex-start;
  border: 0.0625rem dashed #979797;
  border-radius: 0.625rem;
  max-width: 61.625rem;
  height: fit-content;
  margin-top: 1.25rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  padding: 15px 18px;
  justify-content: space-between;

    & > p {
      font-family: 'GT America', sans-serif;
      color: #757575;
      margin: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 0.875rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

  @include breakpoints.desktop {
    margin-left: 6.75rem;
    padding: 1.5rem 1.25rem;
    justify-content: space-between;
  }

  @include breakpoints.mobile {
    display: block;
    border-radius: 0.625rem 0.625rem 0 0;
    :first-child {
      width: 100%;
      text-align: left;
    }

    :nth-child(2), :nth-child(3) {
      width: 100%;
      // align-content: baseline;
      text-align: left;
    }

    :nth-child(4), :nth-child(5) {
      width: 50%;
      // align-content: baseline;
      text-align: left;
    }
  }
}

.text-area {
  font-family: 'Poppins', sans-serif;
  width: 61.625rem;
  min-height: 27.3125rem;
  height: fit-content;
  padding: 45px 2.5rem;
  border: 1px dashed #979797;
  border-top: none;
  border-radius: 0 0 10px 10px;
  resize: none;
  outline: none;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0;
  
  @include breakpoints.desktop {
    margin-left: 6.75rem;
    margin-top: 20px;
    border-top: 1px dashed #979797;
    border-radius: 10px;
  }
}

.input--area {
  width: 100%;
  margin-top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.output--area {
  margin-top: 1rem;
  background-color: #F1F1F1;
  padding: 3rem 1.5rem;
}

.readability--scores {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.12);
  background-color: #FFFFFF;
  border-radius: 0.625rem;
  max-width: 61.625rem;
  text-align: start;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;

  &.readability--scores > h3 {
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #F1F1F1;
  }

  &.readability--scores > div {
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #F1F1F1;
    padding: 0.25rem 0;

    &:last-child {
      border-bottom: none;
    }
  }

  &.readability--scores > div > h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: right;
    color: black;
  }

  &.readability--scores > div > h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #757575;
  }

  @include breakpoints.desktop {
    margin-left: 6.75rem;
  }
}

input[type=number] {
  width: 8.2rem;
  height: 2.3rem;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
}

input[type=range] {
  background-color: #979797;
  color: #1A0DAB;
  width: 80%;
}

input[type=range]::-webkit-slider-runnable-track {
  color: #1A0DAB;
}

input[type=range]::-moz-range-track {
  color: #1A0DAB;
}

.blogWidth--section {
  display: flex;
  border: 1px dashed #979797;
  border-radius: 10px;
  max-width: 61.625rem;
  padding: 1.5rem;

  @include breakpoints.mobile {
    display: none;
  }

  @include breakpoints.desktop {
    margin-left: 6.75rem;
    border: 1px dashed #979797;
    border-radius: 10px;
  }

}
.blogWidth--title {
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
}

// OLD STYLES

// .metric--selectors {
//   margin-left: 6.75rem;
//   border-radius: 4px;
//   width: 216px;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   padding: 4px 10px 8px;
//   & > button {
//     height: 30px;
//     font-weight: 400;
//     font-size: 14px;
//     padding: 5px;
//     border: none;
//     cursor: pointer;
//     background-color: #FFF;
//     border: 1px solid #979797;
//     &.active {
//       height: 30px;
//       font-weight: 600;
//       cursor: pointer;
//       background-color: #EAEAEA;
//     }
//   }
// }

// .px {
//   width: 33%;
// }

// .button--div {
//   width: 61.625rem;
//   margin-left: 1.5rem;
//   display: flex;
//   align-items: flex-end;
//   justify-content: space-between;

//   @include breakpoints.desktop {
//     margin-left: 6.75rem;
//   }
// }