.heading-text {
  font-family: 'GT America', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-left: 108px;
  margin-top: 56px;
  text-align: start;
}
.button--div {
  width: 986px;
  margin-left: 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.metric--selectors {
  margin-left: 108px;
  border-radius: 4px;
  width: 216px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 10px 8px;
  & > button {
    height: 30px;
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: #FFF;
    border: 1px solid #979797;
    &.active {
      height: 30px;
      font-weight: 600;
      cursor: pointer;
      background-color: #EAEAEA;
    }
  }
}

.px {
  width: 33%;
}
.reset-button {
  width: 84px;
  height: 30px;
  background-color: #F4F3FB;
  color: #1A0DAB;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.text--modifiers {
  display: flex;
  justify-content: space-between;
  padding: 32px 24px; 
  align-items: flex-start;
  border: 1px dashed #979797;
  border-radius: 10px;
  max-width: 986px;
  height: 107px;
  margin-left: 108px;
  margin-top: 20px;
  & > p {
    font-family: 'GT America', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: #757575;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.text--area {
  width: 986px;
  height: auto;
  margin-left: 108px;
  /* height: 107px; */
  border: 1px dashed #979797;
  border-radius: 10px;
  overflow: wrap;
  & > input {
    font-size: 16px;
    border: none;

    &:focus {
      font-size: 16px;
      outline: none;
    }
  }
}

.text-area {
  display: flex;
  left: 0;
  width: 90%;
}
/* .results--sidebar {
  height: 500px;
  background-color: #F1F1F1;
  width: 200px;
  right: 0;
} */
