@use 'breakpoints';
/* rem: PX divided by 16 */

.container {
  width: 100%;
  overflow-x: hidden;

  @include breakpoints.desktop {
    display: grid;
    // grid-template-columns: 1fr 18.125rem;
    grid-template-columns: 80% 20%;
    grid-template-rows: 10rem 2rem 10rem 10rem 43.6rem 1fr;
  }
}

.heading-text {
  font-family: 'GT America', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 1.5rem;
  margin-top: 3.5rem;
  text-align: start;

  @include breakpoints.desktop {
      display: grid;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin-left: 6.75rem;
  }
}

.reset-button {
  width: 5.25rem;
  height: 1.875rem;
  background-color: #F4F3FB;
  color: #1A0DAB;
  border-radius: 0.125rem;
  border: none;
  cursor: pointer;

  @include breakpoints.desktop {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-content: center;
    justify-self: flex-end;
    margin-right: 3.5rem;
  }
}

.text--modifiers {
  display: flex;
  padding-top: 1rem; 
  align-items: flex-start;
  border: 0.0625rem dashed #979797;
  border-radius: 0.625rem;
  height: fit-content;
  margin-top: 1.25rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  padding: 15px 18px;
  justify-content: space-between;
  text-transform: uppercase;
  color: #757575;
  font-size: 0.75rem;

    & > p {
      font-family: 'GT America', sans-serif;
      color: #757575;
      margin: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 0.875rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

  @include breakpoints.desktop {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-left: 6.75rem;
    padding: 1.5rem 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 3.5rem;

    & > div {
      display: inline-block;
      align-items: baseline;
    }
  }

  @include breakpoints.mobile {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    padding: 1.5rem 2rem;
    border-radius: 0.625rem 0.625rem 0 0;
    align-content: left;

    :first-child {
      text-align: left;
      grid-column: 1 / 3;
    }

    :nth-child(2) {
      text-align: left;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      margin-right: 2rem;
    }
    
    :nth-child(3) {
      text-align: left;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      margin-right: 1rem;
    }

    :nth-child(4) {
      text-align: left;
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      margin: 0 2rem 1rem 0;
    }

    :nth-child(5) {
      text-align: left;
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      margin: 0 2rem 1rem 0;
    }
  }
}

.blogWidth--section {
  display: none;

  @include breakpoints.mobile {
    display: none;
  }

  @include breakpoints.desktop {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    border: 1px dashed #979797;
    padding: 1.5rem;
    margin-left: 6.75rem;
    margin-right: 1.5rem;
    border-radius: 10px 10px 0 0;
    margin-right: 3.5rem;
  }

}
.blogWidth--title {
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
}

.text-area {
  font-family: 'Poppins', sans-serif;
  min-height: 27.3125rem;
  height: fit-content;
  padding: 1rem;
  resize: none;
  outline: none;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0;
  border: none;
  
  @include breakpoints.desktop {
    // margin-left: 6.75rem;
    // margin-top: 20px;
    // border-top: 1px dashed #979797;
    // border-radius: 10px;
    display: grid;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    resize: none;
    outline: none;
    border: none;
    padding: 45px 2.5rem;
    margin-right: 3.5rem;
  }

  @include breakpoints.mobile {
    width: 500px !important;
    word-wrap: normal;
  }
}

.input--area {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  min-height: 27.3125rem;
  height: fit-content;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border: 1px dashed #979797;
  border-top: none;
  border-radius: 0 0 10px 10px;
  resize: none;
  outline: none;
  margin-top: 0;
  
  @include breakpoints.desktop {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    margin-left: 6.75rem;
    margin-right: 1.5rem;
    border: 1px dashed #979797;
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: 1rem 1.5rem;
    margin-right: 3.5rem;
  }

  @include breakpoints.mobile {
    margin-bottom: 3rem;
  }
}

/* COLOR PICKER */

.fontColor--input {
  position: relative;
  display: flex;
  align-items: center;
}

#backgroundColorPicker {
  right: 6ch;
  margin-bottom: 0.3em;
}

#backgroundColorPicker::-webkit-color-swatch {
  border-radius: 50%;
  border: 3px solid white;
  background: conic-gradient(lime, yellow, orange, red, #b900ed, #1a13ff, #02f5ff, lime) 1;
}

input#background {
  padding-right: 3em;
  margin-right: -.1em;
  border-radius: .1em 0 0 .1em;
  text-align: left;
  border-radius: 0.25rem;
}

.color-picker {
  position: absolute;
  background-color: transparent;
  background: conic-gradient(lime, yellow, orange, red, #b900ed, #1a13ff, #02f5ff, lime);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 100%;
  --webkit-border-radius: 100%; 
  --moz-border-radius: 100%;
  
  @include breakpoints.mobile {
    min-width: 2rem;
    border-radius: 100%;
    position: relative;
  }
}

.textColor--input {
    position: relative;
		display: block;
		height: 2.31em;
		padding: .2em .5em .1em;
		margin-top: -.1em;
		color: #000;
		font: 150% 'GT America Mono Regular', sans-serif;
		// border: 1px solid #A8A8A8;
		// border-radius: 0.875rem;
    border: 1px solid #CED4DA;
		background-color: #FFFFFF;
}

/* RESULTS AREA */

.output--area {
  background-color: #F1F1F1;

  @include breakpoints.desktop {
    display: grid;
    grid-row: 1 / 6;
  }

  @include breakpoints.mobile {
    margin-top: 1rem;
    padding: 3rem 1.5rem;
  }
}

.readability--scores {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.12);
  background-color: #FFFFFF;
  border-radius: 0.625rem;
  // max-width: 100%;
  text-align: start;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;

  @include breakpoints.desktop {
    display: grid;
    grid-column: 2 / 3;
    height: max-content;
    margin: 1.875rem;
  }

  &.readability--scores > h3 {
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #F1F1F1;
  }

  &.readability--scores > div {
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #F1F1F1;
    padding: 0.25rem 0;

    &:last-child {
      border-bottom: none;
    }
  }

  &.readability--scores > div > h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: right;
    color: black;
  }

  &.readability--scores > div > h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #757575;
  }
}

input[type=number] {
  width: 100%;
  height: 2.3rem;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;

  &.blogWidth--input {
    max-width: 20%;
  }

  @include breakpoints.mobile {
    &.lineHeight--input {
      width: 100%;
      // max-width: 50%;
    }

    &.fontSize--input {
      width: 100%;
    }
  }
}

select {
  width: 10.6rem;
  height: 2.3rem;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
}

input[type=range] {
  background-color: #979797;
  color: #1A0DAB;
  width: 80%;
}

input[type=range]::-webkit-slider-runnable-track {
  color: #1A0DAB;
}

input[type=range]::-moz-range-track {
  color: #1A0DAB;
}

// UNUSED REM, EM, PX STYLES

// .metric--selectors {
//   margin-left: 6.75rem;
//   border-radius: 4px;
//   width: 216px;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   padding: 4px 10px 8px;
//   & > button {
//     height: 30px;
//     font-weight: 400;
//     font-size: 14px;
//     padding: 5px;
//     border: none;
//     cursor: pointer;
//     background-color: #FFF;
//     border: 1px solid #979797;
//     &.active {
//       height: 30px;
//       font-weight: 600;
//       cursor: pointer;
//       background-color: #EAEAEA;
//     }
//   }
// }

// .px {
//   width: 33%;
// }

// .button--div {
//   width: 61.625rem;
//   margin-left: 1.5rem;
//   display: flex;
//   align-items: flex-end;
//   justify-content: space-between;

//   @include breakpoints.desktop {
//     margin-left: 6.75rem;
//   }
// }